<!DOCTYPE html>
<html>
    <head>
        <title>Real-time Transliteration</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/index.css" rel="stylesheet">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="/src/transliterate.js"></script>
        <script src="/src/tamil.js"></script>
        <script src="/public/js/index.js"></script>
    </head>

    <body class="container-fluid">git
        <section clas="row">
            <textarea class="col-md-6 full-height" id="pad"></textarea>
            <textarea readonly class="col-md-6 full-height" id="output"></textarea>
        </section>
    </body>
</html>