html, body, section, .full-height {
    height: 100%;
    font-size: 24pt;
}

#pad {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    width: 50%;
    float: left;
    white-space: pre-wrap;


    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#output {
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    border-left: 1px solid black;
    width: 50%;
    float: right;
}